.errorModalBox_container{
    position: absolute;
    right: -40%;
    bottom: 0;
    min-height: auto;
    background: var(--primary_color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #d5d5d5;
    transition: all .5s ease;
    opacity: 0;
}
.errorModalBox_container.active{
    opacity: 1;
    right: 0;
    bottom: 0;
    transition: all .5s ease;
}
.errorModalBox_container .message{
    font-size: 18px;
    font-weight: 400;
    padding: 0 10px;
}